## Practice Data Wrangling

![](https://iili.io/3S2kRyu.png)

## Pandas


Pandas is a Python library extensively used for data analysis and manipulation. It provides data structures like DataFrames, which are similar to tables, and Series, which are like lists or columns in a table. These structures allow for efficient handling and processing of structured data. Pandas is built on top of NumPy and integrates well with other scientific computing libraries. It simplifies tasks such as data cleaning, transformation, and analysis, making it a fundamental tool for data scientists and analysts.

### Installing and Importing Pandas

Installing Pandas
```
pip install pandas
```

In [1]:
# !pip install pandas

importing pandas

In [3]:
## pd is widely used alias for pandas
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)

### Creating Series and Pandas Data Frame

#### 1. Creating Series
 A Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a spreadsheet or a SQL table. The labels for the Series are collectively known as the index. A Series can be created from a variety of data types, including lists, dictionaries, and NumPy arrays.

In [4]:
### Ex-1-Task-1

s = None 
a = [1, 2, 3, 4, 5, 6]
# Task: create a series using list 
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(data=a)
# raise NotImplementedError() 
### END SOLUTION

In [5]:
### Ex-1-Task-2
a = {
    'a': 80,
    'b': 90,
    'c': 100
}
s = None 
## Task: Create a series using dictionary

### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(data=a)
# raise NotImplementedError() 
### END SOLUTION

In [31]:
### Ex-1-Task-3
a = [1, 2, 3, 4, 5, 6]
a = np.array(a)
s = None
## Creating a series using numpy array
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(np.array(a))
# raise NotImplementedError() 
### END SOLUTION

In [5]:
### Ex-1-Task-4
population = {
    'Nepal': 30000000,
    'India': 1463865525,
    'Pakistan':255219554,
    'China': 1416096094
}
s = None
## Create a series with name 'population' and dtype='int64' 
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(population)

# raise NotImplementedError() 
### END SOLUTION

#### 2. Creating DataFrame

In [6]:
### Ex-2-Task-1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df = None 
# Creating Data Frame from Python List
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(data=a, columns=['number'])
# raise NotImplementedError() 
### END SOLUTION

In [7]:
### Ex-2-Task-2
my_list = [['A', 1], ['B', 2], ['C', 3], ['D', 4]]
# Creating Data Frame from List of List
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(my_list, columns=['alphabet', 'number']).set_index('alphabet')
# raise NotImplementedError() 
### END SOLUTION

In [9]:
### Ex-2-Task-3
my_data = {
    'country': ['Nepal', 'India', 'China'],
    'Population': [30000000, 1463865525, 1416096094]
}
df = None
# Creating Data Frame using Python Dictionary
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(my_data, index=(['a', 'b', 'c']))
# raise NotImplementedError() 
### END SOLUTION

## Data Loading and Inspection

### Reading Data
A simple way to store big data is to use CSV files (comma Seperated files) or Parquet Files. 
- df_sales --> computed_insight_success_of_active_sellers.csv'
- df_product --> summer-products-with-rating-and-performance_2020-08.csv

In [32]:
### Ex-3-Task-1
df_sales = None
df_product = None

# reading CSV file
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales = pd.read_csv("computed_insight_success_of_active_sellers (1).csv")
df_product = pd.read_csv("summer-products-with-rating-and-performance_2020-08 (1).csv")
# raise NotImplementedError() 
### END SOLUTION

### Basic Inspection

In [34]:
### Ex-3-Task-2
head_df = None 
tail_df = None 
desribe_num_df = None
desribe_cate_df = None
# check the first 10 records of the sales dataframe 
# check the last 10 records of the product dataframe
## Check the description of the numerical and categorical columns of prodcut dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
head_df = df_sales.head(10)
tail_df = df_product.tail(10)
describe_num_df = df_product.describe()
describe_cate_df = df_product.describe(include='object')
# raise NotImplementedError() 
### END SOLUTION

In [33]:
### Ex-3-Task-3

# set merchant id as the index of the sales dataframe and check index
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales.set_index('merchantid', inplace=True)
df_sales.index
# raise NotImplementedError() 
### END SOLUTION

Index(['5357bcf2bb72c5504882e889', '5708773c3c02161b3f8c7900',
       '5417aada4ad3ab27e954b76c', '570f3a713a698c14278bb51e',
       '53082ea15aefb07dfe1f2a4f', '53f2beb39020ee03566d6e18',
       '5926c5ace8ff5525241b368d', '5860c757b1e41d4d67d183e8',
       '52bd3ddb34067e4620a4c62d', '5a7b23a69bda4e3d375e7b3f',
       ...
       '574d559cb06e205d099d9107', '5db248327c0d0800c24fc084',
       '54365c349719cd57af2b449b', '581c54c4dd99164b808ca531',
       '564d8f2f3a698c01d97fbb81', '567bad8582c35f28103e5813',
       '5b24edf0d1c360301099e9c6', '5d417e7070327a2743021677',
       '5add589edb5f1f32114d07df', '5d4b8931933fb13f8a1fe232'],
      dtype='object', name='merchantid', length=958)

In [21]:
### Ex-3-Task-4
sorted_df = None
## Sort the sales dataframe by rating in Ascending Order, if two records have same rating then sort in descending order by total unit sold
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales.sort_values(
    by = ['rating', 'totalunitssold'],
    ascending=[True, False]
)
# raise NotImplementedError() 
### END SOLUTION

,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
927,5e63469b2fdc774466e15dd5,1,10,10.0,2.333,3.0,5.75,5.0,-15.0,-15.0,0.0,NaN,NaN
704,5e8d923d20c9b7545017f1f9,1,100,100.0,2.941,17.0,11.00,50.0,78.0,78.0,9.0,NaN,NaN
705,5e6cb9806bab2075b2b64d15,1,100,100.0,3.000,3.0,12.00,11.0,-9.0,-9.0,1.0,NaN,NaN
706,5e8c98966642021100f8db13,1,100,100.0,3.034,29.0,12.00,75.0,84.0,84.0,28.0,NaN,NaN
707,5e537a4038654d5bb8db71b4,1,100,100.0,3.039,231.0,5.00,5.0,0.0,0.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,574d559cb06e205d099d9107,1,10,10.0,4.501,2038.0,18.00,59.0,70.0,70.0,6.0,NaN,NaN
949,5db248327c0d0800c24fc084,1,10,10.0,4.513,160.0,5.68,5.0,-13.0,-13.0,2.0,NaN,NaN
887,5b07dc937752c81ecb291b66,1,100,100.0,4.522,343.0,3.73,17.0,79.0,79.0,27.0,NaN,NaN
888,559f372b577ce1196ef7f66c,1,100,100.0,4.578,1032.0,8.00,47.0,83.0,83.0,110.0,NaN,NaN
889,5dab9ece69ce753090f6735c,1,100,100.0,5.000,0.0,7.00,6.0,-16.0,-16.0,0.0,NaN,NaN

In [23]:
### Ex-3-Task-5
portion_df = None
### Get the sorted dataframe for which rating is 4.041 and store in portion_df
### BEGIN SOLUTION 
portion_df = df_sales[df_sales['rating'] == 4.041]
# YOUR CODE HERE
# raise NotImplementedError() 
### END SOLUTION

### Data Types and Conversion

In [24]:
### Ex-4-Task-1

# the price of the product is upto 2 digit place. I want to convert it into int
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['price']=df_product['price'].astype('int')
# raise NotImplementedError() 
### END SOLUTION

In [27]:
### Ex-4-Task-2
# The datatype of the craw_month is Object type. I want to convert it to data time format and store it in same columns
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['crawl_month'] = pd.to_datetime(df_product['crawl_month'])
# raise NotImplementedError() 
### END SOLUTION

## Data Selection and Filtering

### Selecting Columns and Rows

In [29]:
### Ex-5-Task-1
ser = None 

# Select a 'title' column from product dataframe and store in separate variables as series (ser)
### BEGIN SOLUTION 
# YOUR CODE HERE
ser = df_product['title']
# raise NotImplementedError() 
### END SOLUTION

In [35]:
### Ex-5-Task-2
product_price = None 
# Select multiple columns ('title', 'price', and 'retail price' ) from product dataframe and store in variable product_price.
### BEGIN SOLUTION 
# YOUR CODE HERE
product_price = df_product[['title', 'price', 'retail_price']]
# raise NotImplementedError() 
### END SOLUTION

### Selection by labels and Selection by position

In [36]:
### Ex-5-Task-3
single_data = None
## Select a data of title column and at index 1572 of product dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
single_data = df_product.at[1572, 'title']
# raise NotImplementedError() 
### END SOLUTION

In [35]:
### Ex-5-Task-4
single_data = None
## Select a data of 6th column and at  5tj row of product dataframe
### BEGIN SOLUTION 
single_data = df_product.iloc[4, 5]
# YOUR CODE HERE
# raise NotImplementedError() 
### END SOLUTION

In [37]:
### Ex-5-Task-5
sliced_data = None 
## Select a portion of data frame with column name currency_buyer, units_sold, merchant_rating_count, merchant_rating and with index 100 to 200
### BEGIN SOLUTION 
# YOUR CODE HERE
sliced_data = df_product.loc[100:200, ['currency_buyer', 'units_sold', 'merchant_rating_count','merchant_rating' ]]
# raise NotImplementedError() 
### END SOLUTION

In [39]:
### Ex-5-Task-6
sliced_data = None 
## Select a portion of data frame with 3rd to 8th columns and with rows 100 to 200 
# it must only include 100 rows and 7 columns 
### BEGIN SOLUTION 
sliced_data = df_product.iloc[100:200, 3:8]
# YOUR CODE HERE
# raise NotImplementedError() 
### END SOLUTION

### Boolean Indexing and Conditional Filtering

In [41]:
### Ex-5-Task-7
mean = None
Q3 = None 
records = None 
# Find mean and 3rd quantile of the price from product dataframe and get all the records that lies between mean and Q3
### BEGIN SOLUTION 
# YOUR CODE HERE
mean = df_product['price'].mean()
Q3 = df_product['price'].quantile(0.75)
records = df_product[(df_product['price']>mean)&(df_product['price']<Q3) ]
# raise NotImplementedError() 
### END SOLUTION

In [42]:
### Ex-5-Task-8
summer_product = None 
## Find all the row in product dataframe containing 'summer' keyword in its title. Make sure the string is lower to get all the records. 
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['title'].str.lower()
summer_product = df_product[(df_product['title'].str.contains('summer'))]
# raise NotImplementedError() 
### END SOLUTION

## Handling Missing Data

In [43]:
### Ex-6-Task-1
count_na = None
# Count the number of null data in each columns
### BEGIN SOLUTION 
# YOUR CODE HERE
count_na = df_product.isnull().sum()
# raise NotImplementedError() 
### END SOLUTION

In [44]:
### Ex-6-Task-2

# Impute the  product color with maximum occur value as it is the categorical columns 
# Impute the rating five count by mean and rating four count by median of respective columns
### BEGIN SOLUTION 
# YOUR CODE HERE
most_frequent_color = df_product['product_color'].mode()[0]
df_product['product_color'].fillna(most_frequent_color, inplace=True)
df_product['rating_five_count'] = df_product['rating_five_count'].fillna('mean')
df_product['rating_four_count'] = df_product['rating_four_count'].fillna('median')

# raise NotImplementedError() 
### END SOLUTION

## Data Cleaning

### Removing Duplicates

In [46]:
### Ex-7-Task-1
duplicate_count = None
df_drop_duplicate = None # store the data frame after removing duplicates 
# Count no. of duplicates value in product dataframe and drop all the duplicate values 
### BEGIN SOLUTION 
# YOUR CODE HERE
duplicate_count = df_product.duplicated().sum()
df_drop_duplicate = df_product.drop_duplicates()
# raise NotImplementedError() 
### END SOLUTION

## Data Transformation

### Applying Functions: Apply, map

In [47]:
### Ex-7-Task-2

df_sales['total_profit'] = None
# Calculate the total profit using apply function in pandas and save in total_profit column
# Formulae: total_profit = (mean product price - mean retail price) * total units sold
### BEGIN SOLUTION 
# YOUR CODE HERE
mean_product_price = df_product['price'].mean()
mean_retail_price = df_product['retail_price'].mean()

def calculat_total_profit(df, mean_pro, mean_ret):
    return (mean_pro - mean_ret) * df['units_sold']

df_product['total_profit'] = df_product.apply(
    calculat_total_profit,
    axis=1,
    args=(mean_product_price, mean_retail_price)
)

# raise NotImplementedError() 
### END SOLUTION

### Binning and Categorizing Data

In [12]:
### Ex-7-Task-3
df_product['sales_category'] = None
# Divide the row into three category based on their units sold and save it into the sales_category column of produdct dataframe
# category are : low_sales, medium sales, and high sales 
### BEGIN SOLUTION 
# YOUR CODE HERE
bins = [
    0,
    103, 
    250,
    df_product['units_sold'].max() + 1
]
labels = ['low_sales', 'medium_sales', 'high_sales']

df_product['sales_category'] = pd.cut(
    df_product['units_sold'],
    bins=bins,
    labels = labels,
    right=True,
    include_lowest=True 
)
# raise NotImplementedError() 
### END SOLUTION

## Data Aggregation and Grouping

### Groupby aggregation function

In [8]:
### Ex-8-Task-1

group_df = None 
# Create a group of low, medium and high sales and then calulcate, mean of price, median of retail price, min of units_sold and max of rating_five_count of each category
### BEGIN SOLUTION 
# YOUR CODE HERE
group_df = df_product.groupby('sales_category').agg(
    mean_price = ('price', 'mean'),
    median_retail = ('retail_price', 'median'),
    min_units_slod = ('units_sold', "min"),
    max_rating_five_count = ('rating_five_count', 'max')
)

# raise NotImplementedError() 
### END SOLUTION

/tmp/ipykernel_22903/1001705465.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_df = df_product.groupby('sales_category').agg(

In [10]:
### Ex-8-Task-2
group_df = None
## Calculate the Coefficient of Variation of each sales category
### BEGIN SOLUTION 
# YOUR CODE HERE
group_df = df_product.groupby('sales_category').agg(
    std_unit_sold = ('units_sold', 'std'),
    mean_unit_sold = ('units_sold', 'mean')
)

group_df['COV'] = (group_df['std_unit_sold']) / (group_df['mean_unit_sold']).fillna(0)
# raise NotImplementedError() 
### END SOLUTION

/tmp/ipykernel_22903/922841735.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_df = df_product.groupby('sales_category').agg(

In [12]:
### Ex-8-Task-3
df_product['price_zscore'] = None
## Calculate the Z_score of price for each sales category
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['price_zscore'] = df_product.groupby('sales_category')['price'].transform(
    lambda x: (x - x.mean()) / x.std()
)
# raise NotImplementedError() 
### END SOLUTION

/tmp/ipykernel_22903/2748259806.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_product['price_zscore'] = df_product.groupby('sales_category')['price'].transform(

## Merging

In [41]:
### Ex-9-Task-1
merged_df = None
# Merge the sales and product dataframe and delete all the non common entries. Merge two dataframe based on merchant id.
### BEGIN SOLUTION 
# YOUR CODE HERE
merged_df = pd.merge(df_product, df_sales, on='merchant_id', how='inner')
# raise NotImplementedError() 
### END SOLUTION

KeyError: 'merchant_id'

# Data Wrangling End to End

## Data Cleaning

#### Features and Columns 
The data was scraped in the french localisation (hence some non-ascii latin characters such as Â« Ã© Â» and Â« Ã  Â») in the title column.

The title_orig on the other hand contains the original title (the base title) that is displayed by default. When a translation is provided by the seller, it appears in the title column. When the title and title_orig columns are the same, it generally means that the seller did not specify a translation that would be displayed to users with french settings.

A picture is worth a thousand words. In the following screenshot you see some features and how to interpret them.

![](wish_viz.jpg)

In [43]:
### Ex-10-Task-1
df = None 
# Read the product data frame with rating and performance 
### BEGIN SOLUTION 
# YOUR CODE HERE
df = df_product[['rating', 'rating_count', 'units_sold']]
# raise NotImplementedError() 
### END SOLUTION

There are total 43 columns. Let's try to reduce the number. 

#### Some considerations:
- Excluded product color and size because it's just showing the ones that were found in getting the data : there are more colors and sizes for each product so having just one for each category doesn't say much.
- Excluded currency used, as every price is in EUR
- Excluded shipping option, the "shipping_is_express" column is enough.
- Excluded product's and merchant's id's and pictures, that won't be needed.
- Use only original title

After removal of column, it must only have these columns. 

'title_orig', 'price', 'retail_price',
'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
'rating_five_count', 'rating_four_count', 'rating_three_count',
'rating_two_count', 'rating_one_count', 'badges_count',
'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
'tags', 'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
'inventory_total', 'has_urgency_banner',
'merchant_rating_count', 'merchant_rating',
'merchant_has_profile_picture'

In [37]:
### Ex-10-Task-2
df = df_product[[
    'title_orig', 'price', 'retail_price',
    'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
    'rating_five_count', 'rating_four_count', 'rating_three_count',
    'rating_two_count', 'rating_one_count', 'badges_count',
    'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
    'tags', 'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
    'inventory_total', 'has_urgency_banner', 'merchant_rating_count',
    'merchant_rating', 'merchant_has_profile_picture'
]]

# print(df.info())
# print(df.isna().sum())
# print(df['has_urgency_banner'].value_counts())
# Check the data frame information, total no. of null entries in each columns and has_urgency_banner columns counts
# After loading the data we se we have 1573 entries and some null values, let's see what some of them are about:
# - Exactly 45 for rating counts from 1 to 5 star, could it be that there are products with no ratings at all?
# - 1100 null values in the has urgency banner : the values there are 1's so the null values should be turned into 0's
# Now, Rename the columns 'has_urgency_banner' to 'is_running_out' and 'title_orig' to 'title' to make it more clear.
# **Fix the runing out column. fill all the null values with 0's.
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['has_urgency_banner'].value_counts(dropna=False)
df_product['has_urgency_banner'].value_counts(dropna=False)
df_product.rename(columns={
    'has_urgency_banner': 'is_running_out',
    'title_orig': 'title'
}, inplace=True)
df_product['is_running_out'] = df_product['is_running_out'].fillna(0)
df_product['is_running_out'].value_counts()
df_product.isnull().sum()

# raise NotImplementedError() 
### END SOLUTION

title                              0
title                              0
price                              0
retail_price                       0
currency_buyer                     0
units_sold                         0
uses_ad_boosts                     0
rating                             0
rating_count                       0
rating_five_count                 45
rating_four_count                 45
rating_three_count                45
rating_two_count                  45
rating_one_count                  45
badges_count                       0
badge_local_product                0
badge_product_quality              0
badge_fast_shipping                0
tags                               0
product_color                     41
product_variation_size_id         14
product_variation_inventory        0
shipping_option_name               0
shipping_option_price              0
shipping_is_express                0
countries_shipped_to               0
inventory_total                    0
is_running_out                     0
urgency_text                    1100
origin_country                    17
merchant_title                     0
merchant_name                      4
merchant_info_subtitle             1
merchant_rating_count              0
merchant_rating                    0
merchant_id                        0
merchant_has_profile_picture       0
merchant_profile_picture        1347
product_url                        0
product_picture                    0
product_id                         0
theme                              0
crawl_month                        0
dtype: int64

#### Check if all the 45 null values for all rating columns belong to same product.
- Get the dataframe for which rating_five_count have null values
- Then, Count the no. of null values for four, three, two and one rating column.

Conclusion: As expected we see the null values in the rating are actually of the same 45 products

In [25]:
### Ex-10-Task-3
df[df['rating_five_count'].isna()][['rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count']].isna().sum()
df[df['rating_five_count'].isna()].head()
# They seem to be having a rating of 5 even with no ratings: we are going to change the rating and all the rating counts to 0
### BEGIN SOLUTION 
# YOUR CODE HERE
mask_no_ratings = df['rating_five_count'].isna()

rating_count_columns = [
    'rating_five_count',
    'rating_four_count',
    'rating_three_count',
    'rating_two_count',
    'rating_one_count'
]

# For rows where 'rating_five_count' is NaN, set the 'rating' column to 0
df.loc[mask_no_ratings, 'rating'] = 0

# For the same rows, set all rating count columns to 0
df.loc[mask_no_ratings, rating_count_columns] = 0

# raise NotImplementedError() 
### END SOLUTION

## Data Exploration

```df['units_sold'].unique()```

It seems like they are all numbers approximated to their lower bound. So let's pretend they are divided in ranges like this:

- 10-100
- 100-1000
- 1000-5000
- 5000-10000
- 10000-20000
- 20000-50000
- 50000-100000
- 100000+

Let's define 3 performance characteristics:

- Average : 0-1000
- Successful: 1000-20000
- Very Successful 20000+

Find the percentage of product belongs to each category.
Steps:
1. First find the performance category and store in performance columns
2. Then, Calculate the percentage of product in each performance category

In [27]:
### Ex-10-Task-4
percentage_of_product_in_each_performance_category = None
### BEGIN SOLUTION 
# YOUR CODE HERE
# BEGIN SOLUTION
# Create performance_category based on performance_score
percentage_of_product_in_each_performance_category = (
    df_product['sales_category'].value_counts(normalize=True) * 100
).round(2)
# END SOLUTION


# raise NotImplementedError() 
### END SOLUTION

## Product Rating and Performance Comparision

Looking at the rating columns I notice two things:

- Some products have a rating count that's too low to be considered, let's only look at products with more than 150 ratings to try to have a fair result
- The rating of the products is a decimal number: let's create another column that categorizes each product into it's rating range.
    - columns are 
        1. < 1 if rating < 1
        2. 1-2 if rating >= 1 and rating < 2
        3. 2-3 if rating >= 2 and rating < 3
        4. 3-4 if rating >= 3 and rating < 4
        5. 4-5 if rating >= 4 and rating < 5
- Create pivot table with performance in index, raiting_range in column and no. of product as values

In [22]:
### Ex-10-Task-5
df_ratings = pd.DataFrame()  ## get records with rating_count > 100
df_ratings['rating_range'] = None
pivot_table = None
### BEGIN SOLUTION 
df_ratings = df_product[df_product['rating_count'] > 100].copy()

df_ratings = df_ratings[df_ratings['rating_count'] > 100]  # Filter records

df_ratings['rating_range'] = pd.cut(df_ratings['rating'], bins=[0, 3, 4, 5], labels=['Low', 'Medium', 'High'])
pivot_table = df_ratings.pivot_table(index='rating_range', aggfunc='size')

# YOUR CODE HERE
# raise NotImplementedError() 
### END SOLUTION

This table shows that if the product have average rating of 3-4. THen, it is most likely to be successful product.